
// compass-icons: pseudo-generated
// ---------------------


/// Boilerplate styles for generated content `:before` or `:after`.
///
/// @access private
/// @group helpers
/// @todo Rewrite that crap
///
/// @param {Number} $width
/// @param {Number} $height
/// @param {Number} $top
/// @param {Number} $right
/// @param {Number} $bottom
/// @param {Number} $left

@mixin pseudo-generated(
    $width,
    $height,
    $position,
    $valign,
    $margin
) {
    width: $width;
    height: $height;

    content: "";
    position: relative;
    @if $position == "left" or $position == "right" {
        display: inline-block;
        vertical-align: $valign;
    } @else {
        display: block;
    }

    margin: $margin;
    z-index: 1;

    @content;
}
